<h1>Add a new Stage:</h1>
<div class="new-display">
  <div class="doc-list">
    <h3>Stages:</h3>
    <% @stages.each do |sta| %>
      <li>
        <%=sta.stage_name%>
      </li>
    <% end %>
  </div>
  <div class="form-box">
    <%= render 'form' %>
  </div>
</div>
