<h4>Start an Application:</h4>
  <%= form_for @app do |f| %>

    <%= f.label :procedure_id %>
    <%= f.collection_select(:procedure_id, @procedure_selects, :id, :procedure_name) %>

    <%= f.submit "Start Application", class: 'button' %>
  <% end %>
