<h1>Applications:</h1>

<% if current_user && !current_user.apps.empty?%>
<h4>Your Applications:</h4>
<br>
  <% if !@open_apps.empty? %>
  <h5>Open Applications:</h5>
  <ul>
    <% @open_apps.each do |app| %>
      <li>
        <%= link_to app.procedure.procedure_name, app_path(app) %>
      </li>
    <% end %>
  </ul>
  <% end %>
  <br>
  <% if !@completed_apps.empty? %>
    <h5>Finished Applications:</h5>
    <ul>
      <% current_user.apps.each do |app| %>
        <% if app.completed %>
          <li>
            <%= link_to app.procedure.procedure_name, app_path(app) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>
<div class="wide-form-box">
  <%= render 'form' %>
</div>
