.document-box {
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: red;
  display: inline;

}
.document-list {
  padding: 10px;
  background-color: blue;
  display: inline;
}
.stage-box {
  height: 80px;
  background-color: grey;
  padding: 5px;

}

.stage-list {
  padding: 10px;
  background-color: green;

}
